*.pyc
*.swp
inst/
*.gmo
*.mo
*.omf
*.xml
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
desktop/Makefile
desktop/Makefile.in
desktop/gnome-schedule.desktop
desktop/gnome-schedule.desktop.in
gnome-doc-utils.make
help/Makefile
help/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
py-compile
servers/GNOME_GnomeSchedule.server
servers/GNOME_GnomeSchedule.server.in
servers/Makefile
servers/Makefile.in
src/Makefile
src/Makefile.in
src/config.py
src/gnome-schedule
src/gnome-schedule-export
src/gnome-schedule-import
